.thread-follow-list {
    list-style: none;
    min-width: 600px;
    max-width: 800px;
    margin: 0px;
    padding: 16px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}