/* 프로필 수정 모달창 */
.profile_edit_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  z-index: 999;
}

.profile_edit_card {
  background: #fff;
  width: 600px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  font-family: 'Pretendard', sans-serif;
}

.profile_edit_title {
  margin: 0px 0px 16px;
  font-size: 18px;
  font-weight: bold;
}

.profile_edit_flex {
  display: flex;
  margin: 20px 0px;
}

.profile_edit_div {
  font-weight: 500;
  margin-top: 16px;
}

.profile_edit_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 4px 0px;
  font-size: 14px;
  outline: none;
}

.profile_edit_pic {
  width: 52px;
  height: 52px;
  background: #ccc;
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
}

.profile_edit_pic img.profile_edit_preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile_edit_textarea {
  resize: none;
  overflow: hidden;
  box-sizing: border-box;
  font-family: inherit;
}

.profile_edit_input_wrapper {
  display: flex;
  flex-direction: column;
}

.profile_edit_hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.profile_edit_hashtag {
  font-size: 14px;
  color: #333;
  position: relative;
  padding-right: 20px;
}

.profile_edit_tag_remove {
  margin-left: 4px;
  background: none;
  border: none;
  color: #999;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  right: 0;
  top: 0;
}

.profile_edit_switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: auto;
}

.profile_edit_switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.profile_edit_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 24px;
}

.profile_edit_slider::before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.profile_edit_switch input:checked+.profile_edit_slider {
  background-color: #007AFF;
}

.profile_edit_switch input:checked+.profile_edit_slider::before {
  transform: translateX(24px);
}

.profile_edit_submit {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}