.setting_title {
    text-align: center;
}

.setting_container {
    min-width: 600px;
    max-width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    text-align: left;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.setting_container ul {
    list-style: none;
    padding: 15px;
    margin: 0px;
}

.setting_list {
    border-right: 1px solid #ddd;
}

.setting_list li {
    display: flex;
    align-items: end;
    gap: 8px;
    width: auto;
    padding: 8px 12px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.setting_list li svg {
    font-size: 24px;
}

.setting_list li:hover {
    background-color: #e9e9e9;
}

.setting_detail li {
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.setting_detail li input {
    width: 60%;
    height: 16px;
    padding: 0;
    outline: none;
    border: none;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.setting_detail_account_save {
    width: 100%;
    background-color: #007AFF;
    color: white;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s ease;
}

.setting_delete_toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    padding: 8px 0;
    gap: 6px
}

.setting_delete_toggle svg {
    font-size: 24px;
}

.setting_delete_description {
    font-size: 14px;
    line-height: 1.6;
    white-space: pre-line;
    margin: 20px 0px;
    color: #444;
}

.setting_account_delete {
    background-color: #e53935;
    color: white;
    padding: 6px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.2s ease;
}

.setting_account_delete:hover {
    background-color: #c62828;
}