.thread-write-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.thread-write-box {
    position: relative;
    top: -200px;
    min-width: 480px;
    margin: auto;
    background-color: white;
    border-radius: 12px;
    font-family: sans-serif;
    border: 1px solid #ddd;
}

.thread-write-box-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    font-weight: bold;
    font-size: 14px;
}

.thread-write-cancel {
    justify-self: start;
    color: #444;
    cursor: pointer;
}

.thread-write-title {
    justify-self: center;
}

.thread-write-box-body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.thread-write-card {
    display: grid;
    grid-template-columns: 48px 1fr;
    gap: 12px;
}

.thread-write-card-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thread-profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thread-write-card-top {
    display: flex;
}

.thread-write-card-user-name {
    font-size: 14px;
    display: flex;
    font-weight: bold;
}

.thread-write-topic-add {
    border: none;
    outline: none;
    font-size: 14px;
    color: #3b82f6;
    cursor: pointer;
}

.thread-write-content {
    padding: 5px 0px 0px 0px;
}

.thread-write-content textarea {
    width: 100%;
    padding: 0px;
    border: none;
    resize: none;
    outline: none;
    overflow: hidden;
    font-size: 14px;
    line-height: 1.4;
}

.thread-image-preview button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.thread-write-attachment {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #666;
    font-size: 20px;
}

.thread-write-attachment svg {
    cursor: pointer;
}

.thread-write-emoji {
    position: absolute;
}

.thread-write-post {
    display: block;
    width: fit-content;
    margin-left: auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    padding: 6px 16px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.thread-write-post.disabled {
    color: #999;
    cursor: default;
}