.thread-card {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 51px 1fr;
    grid-template-rows: 1fr;
    background: #fff;
    padding: 10px 15px;
}

.thread-user-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #ccc;
    margin-top: 4px;
}

.thread-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 16px;
}

.thread-top {
    display: flex;
    align-items: baseline;
    font-size: 15px;
    gap: 6px;
}

.thread-user-id {
    font-weight: bold;
    color: #222;
}

.thread-hashtag {
    font-weight: bold;
    color: #222;
}

.thread-date {
    color: #aaa;
}

.thread-menu {
    cursor: pointer;
    color: #888;
}

.thread-content {
    max-width: 480px;
    font-size: 16px;
    color: #222;
    padding-bottom: 10px;
}

.thread-actions {
    display: flex;
    gap: 20px;
    color: #666;
    font-size: 18px;
}

.thread-actions-item {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.thread-actions-item svg {
    transition: color 0.2s ease;
}

.thread-actions-item:hover svg {
    color: #007bff;
}